/* Styles for the welcome screen heading */
.welcomeScreen h1 {
  font-weight: 700; /* Set the font weight to bold */
  text-align: center; /* Center align the text */
  margin-bottom: 1rem;
}

/* Styles for the first span element inside the welcome screen heading */
.welcomeScreen h1 span:first-of-type {
  color: #ffd400; /* Set the text color to yellow */
}

/* Styles for the last span element inside the welcome screen heading */
.welcomeScreen h1 span:last-of-type {
  font-weight: 400; /* Set the font weight to normal */
}

/* Styles for the welcome image */
.welcomeImg {
  width: 250px;
  margin: 2rem auto; /* Center align the image and add a top and bottom margin of 2rem */
}

/* Wrapper for the search container and error message */
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Styles for input elements */
.searchInput {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
  background-color: #d0e5f2b9; /* Set the background color to a light blue */
  border: none; /* Remove the border */
  outline: inherit;
  border-radius: 25px;
}

/* Styles for the footer */
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between elements */
}

/* Styles for the loading message */
.loading {
  font-size: 1.3rem;
  color: whitesmoke;
  text-align: center;
  margin-top: 60vh;
  margin-bottom: 0.5rem;
}

/* Styles for the error message */
.errorMsg {
  font-size: 1.5rem;
  text-align: center;
  color: red;
  margin-bottom: 0.5rem;
  width: 100%;
  margin-bottom: 15px; /* Add space below the error message */
}

/* Search Button */
.searchButton {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.8); /* Match input background */
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.searchButton:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly lighter on hover */
}

.searchButton img {
  width: 20px;
  height: 20px;
}
